@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* border: 2px solid red; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.container {
  /* border: 2px solid rgb(242, 0, 255); */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex: 0;
}

.left-links,
.right-links {
  display: flex;
  gap: 0 8px;
  /* border: 2px dotted teal; */
}

.footer {
  /* border: 2px solid purple; */
  background-color: #eeeeee;
}

.content {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: smaller;
  /* border: 2px dotted cyan; */
}